body{
  margin: 0%;
}

header{
  background: linear-gradient(
    135deg,
    rgba(44, 16, 80, 1) 0%,
    rgba(0, 0, 0, 1) 51%
  );
  height: 9vh;
  width: 100vw;
}
main{
  background: #fff;
  height: 91vh;
  width: 100vw;
}