.button{
    background: #fFf;
    border-radius: 12px;
    font-size: 18px;
    text-align: center;
    width: 213px;
    height: 56px;
    margin-top: 18px;
    border-style: none;
}
.altButton{
    color: #E3E3DC;
    background: #1E1E1E;;
    border-radius: 12px;
    font-size: 18px;
    text-align: center;
    width: 213px;
    height: 56px;
    margin-top: 18px;
    border-style: none;
}